<template>
  <div>
    <CheckoutPanel/>
  </div>
</template>

<script>
import CheckoutPanel from './components/CheckoutPanel.vue';

export default {
  name: 'App',

  components: {
    CheckoutPanel,
},

  data: () => ({
    
  }),
};
</script>
