<template>
  <v-app>
    <v-main>
      <v-container>
        <v-row>
          <v-col cols="12" sm="6" md="4">
            <div class="label-container">
              <img class="pl-2" src="../assets/account.png" alt="" />
              <span class="white--text text-center pl-2">1. TWOJE DANE</span>
            </div>
            <v-dialog v-model="loginPopUp" width="350">
              
            <template v-slot:activator="{ on, attrs }">
            <v-btn
              class="mt-2 buttons"
              color="red"
              outlined
              v-bind="attrs"
              v-on="on"
            >Logowanie</v-btn>
            </template>
            <v-card>
              <v-card-title text-h5 grey lighten-2 text color="blue">Zaloguj się</v-card-title>
              <v-card-text>
                <v-text-field label="Login" dense outlined></v-text-field>
                <v-text-field label="Hasło" dense outlined></v-text-field>
              </v-card-text>
              <v-card-action>
                <v-btn color='blue'
                text
                 @click="loginPopUp = false"
                 top
                >Zaloguj</v-btn>
              </v-card-action>
            </v-card>
            </v-dialog>
            <div class="pt-2 login-info text-center">
              <p class="">Masz już konto? Kliknij żeby się zalogować</p>
            </div>
            <v-checkbox
              hide-details
              label="Stwórz nowe konto"
              v-model="showLogin"
            ></v-checkbox>
            <div class="text-fields mt-5" v-if="showLogin">
              <v-text-field
                placeholder="Nazwa użytkownika"
                dense
                outlined
                :rules="rules.rule"
              ></v-text-field>
              <v-text-field
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                placeholder="Hasło"
                dense
                outlined
                :rules="rules.min"
                @click:append="showPassword = !showPassword"
                :type="showPassword ? 'text' : 'password'"
              >
              </v-text-field>
              <v-text-field
                placeholder="Powtórz hasło"
                dense
                outlined
                :append-icon="showConfirmPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="rules.rule"
                @click:append="showConfirmPassword = !showConfirmPassword"
                :type="showConfirmPassword ? 'text' : 'password'"
              >
              </v-text-field>
              <v-text-field
                placeholder="Imię *"
                dense
                outlined
                :rules="rules.rule"
                @keydown="letterOnlyInput"
              ></v-text-field>
              <v-text-field
                placeholder="Nazwisko *"
                dense
                outlined
                :rules="rules.rule"
                @keydown="letterOnlyInput"
              ></v-text-field>
              <v-select
                :items="countries"
                :rules="rules.rule"
                placeholder="Kraj pochodzenia"
                outlined
                dense
              >
              </v-select>
              <v-text-field
                placeholder="Adres *"
                dense
                outlined
                :rules="rules.rule"
              ></v-text-field>
              <v-text-field
                placeholder="Kod pocztowy *"
                dense
                outlined
                :rules="rules.rule"
                @keydown="numberOnlyInput"
                :maxLength="maxZipCode"
              >
              </v-text-field>
              <v-text-field
                placeholder="Miasto *"
                dense
                outlined
                :rules="rules.rule"
                @keydown="letterOnlyInput"
              ></v-text-field>
              <v-text-field
                placeholder="Telefon *"
                dense
                outlined
                :rules="rules.rule"
                @keydown="numberOnlyInput"
                :maxLength="maxPhoneLength"
              ></v-text-field>
            </div>
            <v-checkbox
              label="Dostawa pod inny adres"
              v-model="showAddress"
            ></v-checkbox>
            <div v-if="showAddress && showLogin">
              <v-text-field
                placeholder="Adres *"
                dense
                outlined
                :rules="rules.rule"
              ></v-text-field>
              <v-text-field
                placeholder="Kod pocztowy *"
                dense
                outlined
                :rules="rules.rule"
                @keydown="numberOnlyInput"
                :maxLength="maxZipCode"
              ></v-text-field>
              <v-text-field
                placeholder="Miasto *"
                dense
                outlined
                :rules="rules.rule"
                @keydown="letterOnlyInput"
              ></v-text-field>
            </div>
          </v-col>
          <v-col cols="12" sm="6" md="4">
            <div class="label-container">
              <img class="pl-2" src="../assets/truck-delivery.png" alt="" />
              <span class="white--text text-center pl-2"
                >2. METODA DOSTAWY</span
              >
            </div>
            <v-radio-group v-model="deliverOptions" @change="handleOnChange">
              <v-radio
                v-for="company in delivery"
                :key="company.id"
                :label="`${company.deliverer} ${company.price} ${company.unit}`"
                :value="company.value"
              >
              </v-radio>
            </v-radio-group>
            <div class="label-container">
              <img class="pl-2" src="../assets/credit-card-outline.png" alt="" />
              <span class="white--text text-center pl-2"
                >3. METODA PŁATNOŚCI</span
              >
            </div>
            <v-radio-group v-model="paymentOptions">
              <v-radio
                v-for="available in availablePayments"
                :key="available.id"
                :label="`${available.method}`"
                :value="available.value"
              ></v-radio>
            </v-radio-group>
            <v-btn color="grey" outlined class="buttons mt-2"
              >Dodaj kupon rabatowy</v-btn
            >
          </v-col>
          <v-col cols="12" sm="6" md="4">
            <div class="label-container">
              <img class="pl-2" src="../assets/notebook-outline.png" alt="" />
              <span class="white--text text-center pl-2">4. PODSUMOWANIE</span>
            </div>

            <div
              class="
                summary-container
                d-flex
                align-center
                justify-space-between
                ma-2
              "
            >
              <div class="product-placeholder mt-5 mr-2"></div>

              <span class="summary-text font-weight-bold">Testowy produkt</span>
              <span class="summary-text font-weight-bold">115.00 zł</span>
              <span class="font-weight-bold mr-3"> Ilość: 1</span>
            </div>
            <hr class="mt-4" />
            <div class="d-flex justify-space-between ma-3">
              <span>Suma częściowa</span>
              <span>115.00 zł</span>
            </div>
            <div class="d-flex justify-space-between font-weight-bold ma-3">
              <span>Łącznie</span>
              <span>{{ fullPrice }}.00 zł</span>
            </div>
            <hr class="mb-4" />
            <v-text-field placeholder="Komentarz" outlined></v-text-field>
            <v-checkbox
              label="Zapisz się, aby otrzymywać newsletter"
            ></v-checkbox>
            <v-checkbox v-model="shoppingTerms"
              label="Zapoznałam/em się z Regulaminem zakupów *"
            ></v-checkbox>
            <v-btn :disabled="!shoppingTerms || !showLogin || !deliverOptions || !paymentOptions" x-large color="red" class="white--text buttons"
            v-on:click="addProduct()"
              >Potwierdz Zakup</v-btn
            >
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data: () => {
  

    return {
      loginPopUp: false,
      maxPhoneLength: 9,
      maxZipCode: 5,
      showLogin: false,
      showAddress: false,
      deliverOptions: false,
      paymentOptions: false,
      showPayment: false,
      availablePayments: [],
      ignoredNumbers: "",
      partialPrice: 115,
      fullPrice: 0,
      showPassword: false,
      showConfirmPassword: false,
      shoppingTerms: false,

      payments: [
        { id: 0, method: "PayU", value: "payu" },
        { id: 1, method: "Płatność przy odbiorze", value: "platnosc-odbior" },
        { id: 2, method: "Przelew bankowy - zwykły", value: "przelew-bankowy" },
      ],
      delivery: [
        {
          id: 0,
          deliverer: "Paczkomaty 24/7",
          price: 10,
          unit: "zł",
          value: "inpost",
          payments: [0, 2],
        },
        {
          id: 1,
          deliverer: "Kurier DPD ",
          price: 18,
          unit: "zł",
          value: "dpd",
          payments: [0, 1, 2],
        },
        {
          id: 2,
          deliverer: "Kurier DPD  pobranie",
          price: 22,
          unit: "zł",
          value: "dpd-pobranie",
          payments: [1],
        },
      ],
      rules: {
        rule: [(val) => (val || "").length > 0 || "To pole jest wymagane"],
        min: [
          (val) =>
            val.length >= 8 ||
            "Min 8 znaków" ||
            val.length > 0 ||
            "To pole jest wymagane",
        ],
      },
      countries: ["Polska", "Niemcy", "Holandia", "Francja"],
    };
  },
  methods: {
    addProduct() {
      alert('Dziękujemy za złożenie zamówienia w naszym sklepie')
    },
    letterOnlyInput(event) {
      if (!/[a-zA-Z\s]/.test(event.key)) {
        this.ignoredNumbers = event.key ? event.key : "";
        event.preventDefault();
      }
    },
    numberOnlyInput(event) {
      let keyCode = event.keyCode ? event.keyCode : event.which;
      if ((keyCode < 48 || keyCode > 57) && keyCode !== 46 && keyCode != 8) {
        event.preventDefault();
      }
    },
    handleOnChange(event) {
      const selectedDelivery = this.delivery.find((del) => {
        return del.value === event;
      });
      this.availablePayments = this.payments.map((pay, index) => {
        let payment = null;
        selectedDelivery.payments.forEach((paymentIndex) => {
          if (paymentIndex === index) {
            payment = pay;
          }
        });
        return payment;
      });
      this.availablePayments = this.availablePayments.filter((pay) => {
        return pay !== null;
      });
      this.fullPrice = this.partialPrice + selectedDelivery.price;
    },
  },
};
</script>

<style>
.label-container {
  display: flex;
  width: 100%;
  align-items: center;
  height: 40px;
  background-color: #deb887;
  border-radius: 5px;
}

.buttons {
  width: 100%;
}

.login-info {
  font-size: 10px;
}

.product-placeholder {
  width: 90px;
  height: 40px;
  background-color: gray;
}

.summary-container {
  width: 100%;
}

.summary-text {
  font-size: 13px;
}
</style>